@{
    if (User.Identity.Name == "")
    {
        <h1>
            Sie sind nicht eingeloggt, bitte einloggen oder registrieren!
        </h1>
    }
    else
    {
        <h1>
            Eingeloggt :-)
        </h1>
    }
}

