<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorMessage</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h1>Leider konnte Ihr Versuch nicht behandelt werden</h1>
    </hgroup>
    <p>@Html.ActionLink("Zurück zum Login", "Login", "Account")</p>
</body>
</html>
