@{
    ViewBag.Title = "Contact";
}


@*-------------------------------------------------------LEFTBAR AD--------------------------------------------*@
<div class="col-md-3">
    <div class="col col-md-12 adtopleft">
        <h3>Contact</h3>
        <address>
            <p>
                Magical TeaParty Gmbh
                Zipperstrasse 56-59<br />
                1110 Wien<br />
                <abbr title="Phone">P:</abbr>
                (+43)0664/1525725
                magicaltea.party
            </p>
        </address>

        <address>
            <p><strong>Support:</strong>   <a href="mailto:Support@clonestone.at">Support@clonestone.at</a><br /></p>
            <p><strong>Marketing:</strong> <a href="mailto:Marketing@clonestone.at">Marketing@clonestone.com</a></p>
        </address>
    </div>
    @*-----------------------------------------------------LEFTBAR CURRENCY-----------------------------------------*@

    <div class="col col-md-12 currency">
        <h3>Ihr Guthaben</h3>
        <h5 class="welcome">
            @ViewBag.MyCurrency COINS
        </h5>

        <img class="image responsive coinpic " src="~/Content/images/Coins-PNG-Picture-180x180.png" />
        @{if (User.Identity.Name != "")
            {
                @Html.ActionLink("Guthaben aufladen", "Login", "Account", new { @class = "btn btn-default" })
            }
        }
    </div>

    @*-----------------------------------------------------MAINCOLUMN---------------------------------------  ------*@
  </div>
    <div class="col col-md-9 cardcol">
        <h3>Nutzungsbedingungen, AGB</h3>
        <p class="welcome">
            Liebe(r)
            @{if (User.Identity.Name != "")
            {
                    @ViewBag.Firstname
                }
            }, 
            <br />
        <p>

            Allgemeine Geschäftsbedingungen der MTP GmbH
            Stand: 13.9.2016
        </p>
        <br />
        <h5>1.1 Allgemeine Bestimmungen</h5>
        <p>
            Die allgemeinen Geschäftsbedingungen der MTP gelten für alle Lieferungen und Dienstleistungen, die MTP  gegenüber dem Auftraggeber erbringt. Sie gelten auch für zukünftige Geschäfte, selbst wenn nicht ausdrücklich darauf Bezug genommen wird. MTP nimmt Auftrage nur unter Anwendung dieser allgemeinen Geschäftsbedingungen an.
            Soweit allgemeine Geschäftsbedingungen des Auftraggebers diesen allgemeinen Geschäftsbedingungen widersprechen, gelten erstere als nicht vereinbart und wird ihnen hiermit ausdrücklich widersprochen.
        </p>
        <br />
        <h5>1.2 Liefertermine</h5>
        <p>
            Werden die vereinbarten Liefertermine um mehr als 30 Tage überschritten, ist der Auftraggeber nach Setzung und Gewährung einer Nachfrist von mindestens 90 Tagen mittels eingeschriebenem Brief berechtigt, vom Vertrag zurückzutreten. Der Auftraggeber verzichtet ausdrücklich gegenüber MTP im Falle des Rücktritts vom Vertrag wegen Nichterfüllung innerhalb der gesetzten Nachfrist auf die Geltendmachung von Verdienstentgang, sowie sonstigen Schaden aller Art.
            Die vereinbarten Erfüllungstermine können von MTP nur dann eingehalten werden, wenn der Auftraggeber zu dem von MTP angegebenen Termin alle notwendigen Angaben und Unterlagen zur Verfügung stellt. Dies gilt auch für Unterlagen, die von MTP erst nach Annahme des Auftrages angefordert werden. Lieferverzögerungen und Kostenerhöhungen, die durch unrichtige, unvollständige oder nachträglich geänderte Angaben oder Unterlagen entstehen, sind von MTP nicht zu vertreten und begründen daher keinen Liefer- oder Leistungsverzug von MTP. Daraus resultierende Mehrkosten sind vom Auftraggeber zu tragen. Bei Aufträgen, die mehrere Einheiten bzw. Programme umfassen, ist MTP berechtigt, Teillieferungen durchzufuhren.
        </p>
        <br />
        <h5>1.3 Preise und Zahlungsbedingungen</h5>
        <p>
            Sämtliche von MTP auf Angeboten, Auftragsbestätigungen oder sonstigen Geschäftsbriefen genannten Preise enthalten so ferne nicht ausdrücklich angegeben keine Umsatzsteuer, diese wird gesondert in Rechnung gestellt. Werden im Zusammenhang mit dem Abschluss und der Durchführung eines Auftrages Abgaben erhoben, trägt diese der Auftraggeber allein. Die Kosten der für die Erbringung der Dienstleistung erforderlichen Fahrtspesen und Reisezeiten seitens MTP tragt der Auftraggeber.
            Sämtliche Rechnungen von MTP sind so ferne nicht ausdrücklich anders vereinbart binnen 14 Tagen nach Rechnungsdatum ohne Abzug und spesenfrei fällig. Die Einhaltung der Zahlungstermine bildet eine wesentliche Bedingung für die Vertragserfüllung. Bei Zahlungsverzug ist MTP berechtigt, sämtliche daraus
            entstehenden Spesen und Kosten, insbesondere für Mahnung, Inkasso und außergerichtliche Anwaltskosten sowie bankübliche Verzugszinsen zusätzlich zu verrechnen. Darüber hinaus ist MTP bei Zahlungsverzug berechtigt, jegliche Leistungen gegenüber dem Auftraggeber bis zur vollständigen Bezahlung auszusetzen. Dadurch wird der Auftraggeber jedoch nicht seiner Zahlungsverpflichtung enthoben, weder für die ursprünglichen Ruckstände, noch für die im Zeitraum der Aussetzung auflaufenden Beträge. Im Fall von Lieferungen bleibt die gelieferte Ware bis zur vollständigen Bezahlung des Preises und allfälliger damit zusammenhängender Nebenspesen welcher Art auch immer im Eigentum von MTP. Der Auftraggeber ist nicht berechtigt, Zahlungen wegen nicht vollständiger Lieferung, Garantie, Gewährleistungsansprüchen oder Bemängelungen zurückzuhalten.
            Bei Auftragen, die mehrere Einheiten umfassen, ist MTP berechtigt, nach Lieferung jeder einzelnen Einheit oder Leistung Rechnung zu legen.
        </p>
        <br />
        <h5>1.4 Gewährleistung</h5>
        <p>
            Der Kunde ist verpflichtet, nach Erhalt der vereinbarten Lieferungen und Leistungen diese sofort auf Richtigkeit und Vollständigkeit zu kontrollieren und bei gelieferten Programmen einen Probe- ¨lauf durchzufuhren sowie die erzielten Ergebnisse zu überprüfen. Soweit sich dabei irgendwelche Mängel herausstellen, ist der Auftraggeber verpflichtet, MTP sofort schriftlich hier über unter Anschluss der fehlerhaften Beispiele in Kenntnis zu setzen. MTP wird bemüht sein, den Mangel kurzfristig zu beheben und das korrigierte Programm dem Auftraggeber zur Verfügung zu stellen, oder eine zumutbare Methode zur Umgehung des Mangels zu beschreiben. MTP kann vom Auftraggeber weitere zur Behebung des Mangels notwendige Informationen anfordern, die er kostenlos zur Verfügung zu stellen hat. Eine vom Auftraggeber schriftlich zu setzende Nachfrist für die Fehlerbehebung oder Umgehung beträgt mindestens 60 Tage.
            MTP übernimmt keine Gewähr für Fehler, Störungen oder Schäden, die auf unsachgemäße Bedienung, Fehlfunktion der Hardware oder eines nicht von MTP gelieferten Programmes, Veränderung der Betriebsbedingungen der Programme ohne Zustimmung von MTP (z.B. Umstellung des Betriebssystems, Hardwareänderung, Änderung von wechselseitig abhängigen anderen Programmen) oder auf Änderungen in der Software durch den Auftraggeber oder durch Dritte zurückzuführen sind.
        </p>
        <br />
        <h5>1.5 Haftung</h5>
        <p>
            Auch bei sorgfältigster und umfangreichster Prüfung kann eine vollständige Fehlerfreiheit von Software-Programmen nach dem heutigen Stand der Technik nicht gewährleistet werden. Insofern übernimmt MTP keine Haftung für die vollständige Richtigkeit und Fehlerfreiheit der ¨vom Auftraggeber erworbenen Software-Programme.
            Die Haftung von MTP für sämtliche Ansprüche, aus welchem Rechtstitel immer, sind mit der Höhe des Auftragswertes und soweit dieser den Betrag von EUR 10.000,–  übersteigt mit EUR 10.000,– begrenzt. Vereinbarungsgemäß haftet MTP weder für entgangenen Gewinn noch für erwartete, aber ¨nicht eingetretene Ersparnisse, Schaden aus Ansprüchen Dritter gegen den Kunden, mittelbare Schäden und Folgeschäden sowie Schäden an aufgezeichneten Daten.
            Schadenersatzanspruche in Fällen leichter Fahrlässigkeit sind ausgeschlossen, ebenso eine Haftung für Schäden, die durch unberechtigte Eingriffe Dritter entstehen.
        </p>
        <br />
        <h5>1.6 Rücktrittsrecht</h5>
        <p>
            Sollte sich im Zuge des Versuches der Erfüllung eines Auftrages herausstellen, dass diese tatsachlich oder juristisch unmöglich ist, ist MTP verpflichtet, dies dem Auftraggeber sofort anzuzeigen. Beide Vertragspartner sind in diesem Fall berechtigt, von dem Teil des Auftrages
            zurückzutreten, dessen Ausführung sich als unmöglich erwiesen hat. Höhere Gewalt, Arbeitskonflikte, Naturkatastrophen sowie Transportsperren entbinden MTP von ihren Lieferverpflichtungen bzw. gestatten ihr eine analoge Verlängerung der vereinbarten Lieferfristen.
            Stornierungen durch den Auftraggeber sind nur mit ausdrücklicher Zustimmung von MTP möglich. Ist MTP mit einem Storno einverstanden, so hat sie das Recht, neben den erbrachten Leistungen und aufgelaufenen Kosten eine Stornogebühr in angemessener Höhe zu verrechnen.
        </p>
        <br />
        <h5>2.1 Besondere Bestimmungen für die Lieferung von Programmen und Programmodulen:</h5>
        <p>
            MTP stellt dem Kunden eine nicht übertragbare und nicht ausschließliche Lizenz zur Benutzung der gelieferten Softwareprogramme oder Programmodule zur Verfügung. Die Urheber-und Verwertungsrechte an den Programmen verbleiben bei MTP oder deren Vorlieferanten. Die Lieferung von Programmen erfolgt durch die zur Verfügung- Stellung eines Datenträgers mit den entsprechenden Programmdateien, so ferne sich diese von den bisher beim Kunden verfügbaren Programmdateien unterscheiden, sowie der notwendigen Informationen zur Aktivierung des neuen Programmes oder Programmodules.
            Sämtliche Dienstleistungen im Zusammenhang mit der Installation, Inbetriebnahme, Schulung und ¨Wartung des gelieferten Programmes werden - soweit nicht ausdrücklich anders vereinbart gesondert nach der zum Zeitpunkt der Durchführung der Dienstleistung gültigen Preisliste von MTP verrechnet.
            Für die Benützung der Programme, für die damit erzielten Ergebnisse und für die zur Erzielung dieser Ergebnisse notwendige Auswahl der Programme ist der Kunde selbst verantwortlich. Dies gilt auch für die Auswahl und den Gebrauch anderer Programme, Maschinen und Leistungen im Zusammenhang mit den von MTP gekauften Programmen. Der Kunde hat die erzielten Ergebnisse laufend auf Richtigkeit zu überprüfen.
            Der Kunde ist verpflichtet, ohne schriftliche Zustimmung des Auftragnehmers die Weitergabe der Programme, Programmbeschreibungen usw. an Dritte, sei es entgeltlich oder unentgeltlich zu unterlassen. Im Hinblick darauf, dass die Programme geistiges Eigentum von MTP sind, ist die Nutzung derselben auch nach Bezahlung ausschließlich zu eigenen Zwecken des Kunden zulässig.
            Jede Weitergabe im Sinne des Urheberrechtsgesetzes, d.i. auch die kurzfristige Überlassung zur Herstellung von Reproduktionen, zieht Schadenersatzanspruche nach sich, wobei in einem solchen Falle volle Genugtuung zu leisten ist.
        </p>
        <br />
        <h5>2.2 Lieferung von Standardprogrammen und Programmodulen</h5>
        <p>Der Kunde bestätigt ausdrücklich, vor Vertragsabschluss den Leistungsumfang der Programme und ¨Programmodule überprüft zu haben. Ein Mangel ist somit nur bei Fehlen einer zugesicherten Eigenschaft oder einer dokumentierten Funktion sowie bei objektiv feststellbaren Programmfehlern gegeben. Fehlende Funktionen, die vom Kunden aufgrund der Bezeichnung des Programmes oder Modules oder eines Textes am Bildschirm oder Ausdruckes erwartet wurden, stellen ausdrücklich keine Mängel dar.</p>
        <br />
        <h5>2.3 Erstellung und Lieferung von Individualprogrammen und Individualänderungen an Programmen</h5>
        <p>Die Erstellung von individuellen Programmen und Programmänderungen erfolgt aufgrund einer schriftlichen Programmdefinition, die Teil des Angebotes ist. Diese Programmdefinition ersetzt sämtliche vorherigen schriftlichen und mündlichen Absprachen über den Leistungsumfang und die Funktion des Individualprogrammes oder der Individualänderung. Der Kunde hat die Programmdefinition vor Erteilung des Auftrages zu prüfen. MTP kann praxisgerechte Testdaten anfordern, die vom Kunden zeitgerecht und kostenlos zur Verfügung gestellt werden.</p>
        <br />
        <h5>3.1 Schlussbestimmungen</h5>
        <p>
            Alle dieses Vertragsverhältnis betreffenden Mitteilungen und Erklärungen sind nur gültig, wenn sie ¨schriftlich erfolgen und unwidersprochen sind. MTP wird von jeder Verpflichtung befreit, wenn die Leistungen aus diesem Vertragsverhältnis auf Grund von Umstanden, die von MTP nicht zu vertreten sind, nicht erbracht werden können.
            MTP kann Dritte mit der Durchführung einzelner Leistungen aus diesem Vertragsverhältnis beauftragen. Sollte eine der vorstehenden Bestimmungen unwirksam oder nichtig sein oder werden, so bleibt der Vertrag wie auch die übrigen Geschäftsbedingungen wirksam. Die Vertragsparteien verpflichten sich, anstelle der unwirksamen Bestimmung eine Vereinbarung zu treffen, deren wirtschaftlicher Erfolg dem der unwirksamen Bestimmung so weit wie möglich entspricht.
            Für sämtliche Rechtsstreitigkeiten wird die ausschließliche Zuständigkeit des sachlich in Betracht kommenden Gerichtes in WIEN vereinbart. Anzuwenden österreichisches Recht
        </p>
        <br />
    </div>

