
@{
    ViewBag.Title = "Index";
}

<h1 style="margin-top:100px; color:white">TUTORIAL</h1>

<div id="openModal4" class="modalDialog">
    <a href="#close" title="Close" class="close">X</a>
    <img src="~/img/Tut1.png" class="displayed img-responsive" />
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#openModal4"><img src="~/img/Tut1.png" style="width:300px" /></a>
            </div>
            <div class="col-md-8">
                <h3>LOREM</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                consetetur sadipscing elitr, sed diam
                </p>
            </div>
        </div>
    </div>
</div>

<div id="openModal5" class="modalDialog">
    <a href="#close" title="Close" class="close">X</a>
    <img src="~/img/Tut2.png" class="displayed img-responsive" />
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>LOREM</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam
                </p>
            </div>
            <div class="col-md-4">
                <a href="#openModal5"><img src="~/img/Tut2.png" style="width:300px" /></a>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom:250px">
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>

