
@font-face {
    font-family: 'Xena';
    src: url('fonts/Xena.ttf') format('truetype');
}
* {
    font-family: Xena;
    color:papayawhip
}


/*BODY*/


body {
    font-size: 120%;
    margin-top: 10em;
    padding: 0em;
    /*em ist eine  relative Angabe bezogen, an dieser Stelle müssen
        wir später nur die Schriftgrösse anpassen (100%--16px)MERKEN
        STELLSCHRAUBE für alles!!!!*/
    background:transparent url('images/maxresdefault.jpg')fixed 0  no-repeat;
}
.body-content{
    margin-top:17em
}


/*NAVBAR*/


.navbar {
    background-image: url('images/Head.png');
    font-size:1.4em;
    text-align:center;      
}


.navbar-brand {
    font-size: 1.5em;
    
}

a {
    color: papayawhip;
    text-decoration:none; 
    padding-top:1em;   
}


/*JUMBOTRON*/

.jumbotron {
 
    color: papayawhip;
    background-color:papayawhip;
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
    border-color:rgba(255, 215, 0, 0.35)  ;
    border-width:1em;  
    border-style:ridge;
    border-width:0 0 0.50em;
    -moz-border-radius:1.0em;
    -webkit-border-radius:1.0em;
    border-radius:1.0em;
}
.lead {
    font-size:0.8em
}

.mainright
{
    float:right;
    margin-left:2em;  
    background-color:rgba(189, 102, 49, 0.80);
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
    text-align:center;
    border-color:rgba(255, 215, 0, 0.35)  ;
    border-width:1em;  
    border-style:ridge;
    border-width:0 0 0.50em;
    -moz-border-radius:1.0em;
    -webkit-border-radius:1.0em;
    border-radius:1.0em;
    color:papayawhip; 
    margin-bottom:3em
}



/*FORMS*/
.form-group {
background-color:rgba(189, 102, 49, 1);
    -moz-border-radius:1.0em;
    -webkit-border-radius:1.0em;
    border-radius:1.0em;
}

.field {
    width: 20em;
    height:2em;
    float:right;
    background-color:rgba(189, 102, 49, 0.80);
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
    color:papayawhip;
}
.label{
    /*margin-top:1.5em;*/
    height:3em;
    width:5em;
    float:left;
    font-size:120%;
}

/*IMAGES*/


#OverViewPic {
    width:3em;
}
.DetailsPic {
    width:18em;
}
.DetailsPic:hover {
    transform-style:flat;
    transition-duration:3s;
    width:30em;
}
#OverViewPic:hover {
    transform-style:flat;
    transition-duration:3s;
    width:14em;
}


/*TABLES*/


.Overviewtd{
    text-align:center
}
.Overviewth {
    text-align:center;
    width:5em;
}


/*Links und Buttons*/


.categorylinks {
    background-color:rgba(189, 102, 49, 0.80);
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
    text-align:center;
    width:15em;
    float:left;
    height:20em;
    border-color:rgba(255, 215, 0, 0.35)  ;
    border-width:1em;  
    border-style:ridge;
    border-width:0 0 0.50em;
    -moz-border-radius:1.0em;
    -webkit-border-radius:1.0em;
    border-radius:1.0em;
    color:papayawhip;   
}
#lefthead{
margin-right:2em
}


/*BUTTONS*/
    

.btn-default,
.btn-default:active,
.btn-default:visited {
    padding:0.5em;
    margin:0;
    width: 12em;
    height:2em;
    margin-top:1.5em;
    float:left;
    text-decoration:none;
    background-color:rgba(189, 102, 49, 0.80);
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
    color:papayawhip;
}
.btn-default :visited{
    background-color:#357ebd
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited{
 color:papayawhip;
    background-color:rgba(189, 102, 49, 0.80);
    background:linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
   text-decoration:none;
}
.btn-primary :hover{
    background-color:#357ebd
    }
.buttonleftnav {
    margin-left:1em;
}



/*PACKCARDS*/


#packCards {
    background-color:rgba(189, 102, 49, 0.80);
    background: linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.43));
    text-align:center;
    width:12em;
    margin-right:1em;
    padding:1em 1em 1em 1em; 
    float:right;
    min-height:28em;
    height:28em;
    border-color:rgba(255, 215, 0, 0.35)  ;
    border-width:1em;  
    border-style:ridge;
    border-width:0 0 0.50em;
 
    -moz-border-radius:1.0em;
    -webkit-border-radius:1.0em;
    border-radius:1.0em;
}
#cph2 {
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
    font-size:1.5em;
    font-weight:normal;
    line-height:1.5;  
}
#discription
{
    height:3em;
    padding:0.3em;
    margin:0 .0em;
    text-align:center;
    font-size:95%;
}
#cardpic {
    width:8em;
    position:center;
}
#cardpic:hover {
    border-color:rgba(255, 215, 0, 0.35)  ;
    border-width:0.2em;  
    border-style:ridge;
}
p.price {
    font-size:100%;
    margin:0.1em auto 1em;
    width:3.5em;
    height:3.5em;
    line-height:4em;
    text-indent:0,10em;
    webkit-border-radius:3em;
    moz-border-radius:3em;
    border-radius:3em;
    border:0.15em solid #fff;
    background-color:rgba(247, 179, 80, 0.64);
}


/*FOOTER*/

#footer {
    padding-bottom:3em;
    background-image: url('images/foo.png');
 
}


