/*m l schließt alle files*/
								 /*OVERALL*/
/*----------------------------------------------------------------------------*/

@font-face {
	font-family: 'Xena';
	src: url('fonts/Xena.ttf') format('truetype');
}
* {
	color:papayawhip
}
body {
	font-size: 100%;
	margin-top: 18em;
	padding: 0em;
	/*em ist eine  relative Angabe bezogen, an dieser Stelle müssen
		wir später nur die Schriftgrösse anpassen (100%--16px)MERKEN
		STELLSCHRAUBE für alles!!!!*/
	background-color: black;
	background-image: url('images/black_pattern_tile.jpg');
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(189, 102, 49, 0.60); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px darkorange; 
}

								 /*FONTS*/
/*----------------------------------------------------------------------------*/
h1 {
	font-family:Xena;
	font-size:4em;
	letter-spacing:0.1em;
	text-align:center;
}
h2 {
	font-family:Xena;
	font-size:2.8em;
	letter-spacing:0.1em;
	text-align:center
}
h3 {
	font-family:Xena;
	font-size:1.7em;
	letter-spacing:0.1em;
	text-align:center
}
h4 {
	font-family:'Yu Gothic';
	font-size:2.5em;
	text-align:center
}
h5,p {
	font-family:'Yu Gothic';
	font-size:1.4em;
	letter-spacing:0.1em;
}
h6 {
	font-family:'Yu Gothic';
	font-size:1.2em;
	letter-spacing:0.1em;
}
a {
	color:darkorange;
}
ul, li
{
	list-style: none;
}

.welcome {
	color:#c6b81f;
	font-weight:bold;
	font-size:170%;
} 

							 /*NAVIGATION*/
/*----------------------------------------------------------------------------*/
header {
  position: relative;
  background-size: cover;
  background-position: center;
  width:100%;
  position:center;
}
.overlay {
  position: absolute;
  top: 6em;
  width: 90%;
  margin-left:5%;
  height: 8em;
  background-color: rgba(0, 0, 0, 0.1 );
}
.navbar {
  font-size:90%;	
  height:6em;
  position: absolute;
  width: 100%;
  top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: transparent;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.2s;
}
.navbar-default .navbar-nav > li > a:hover {
 color: papayawhip; 
 background-color: transparent;
}
.navbar-nav > li > a {
font-family:Xena;
  line-height: 3em;
  -webkit-transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}
.navbar-default .navbar-nav > li > a {
  font-size:1.5em;
}
.navbar-brand img {
  width: 8em;
}
.shrink-nav {
     margin-left:5%;
	top: 0em;
    background-color:rgba(0, 0, 0, 0.2 );
	position: fixed;
    width: 90%;
}
.shrink-nav .navbar-nav > li > a {
  color:darkorange;
}
.navcoin{
	font-size:20%;

}
 .navcointoppic {
		width:1em;  
	}





@media (max-width: 767px) {
  .navbar-nav > li > a {
	line-height: 20px;
  }
  .navbar-brand {
	padding: 7px 15px; 
	visibility:hidden;
  }
}

						  /*Container*/
/*----------------------------------------------------------------------------*/
  .maincontainer{
	background: url('images/maxresdefault.jpg')no-repeat  top ;
	background-position:center top left;
	margin-top:-8em;
	min-height:75em;
}
.col {
	background-color:rgba(189, 102, 49, 0.60);
	border-color:rgba(255, 215, 0, 0.35);
	border-style:ridge;
	border-width:0 0 0.50em;
	border-radius:1.0em; 
	padding-right:1em;
	margin-bottom:1em;
	text-align:center;
	-webkit-box-shadow: 2px -5px 35px 16px rgba(125,108,73,0.33);
	-moz-box-shadow: 2px -5px 35px 16px rgba(125,108,73,0.33);
	box-shadow: 2px -5px 35px 16px rgba(125,108,73,0.33);       
}
.col-md-12 {
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 24em;
}  
.currency {
	  height:40em 
}
.col-md-6 {
	padding-top:3.5em;
	padding-bottom:3.5em;   
}
.col-md-9 {
	padding: 2em;
}
.adtopleft {
	min-height:32.5em;
}

								/*BUTTONS*/
/*----------------------------------------------------------------------------*/
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-default,
.btn-defaultactive,
.btn-default:visited {
	text-decoration:none;
	background-color:rgba(189, 102, 49, 0.80);
	color:papayawhip
}
	.btn-default,
	.btn-defaultactive,
	.btn-default:visited {
		padding: 0.5em;
		width: 13em;
		height: 2em;
		margin-top: 1.5em;
		font-family: Xena;
	}
a.btn-default:first-child {
	visibility:hidden;
}

						   /*FORMS*/
/*----------------------------------------------------------------------------*/
 input {
	width: 60%;
	float: right;
	border-radius: 0.6em;
	border-style: ridge;
	padding-left: 1em;
	border-width: 0 0 0.2em;
	background-color:papayawhip;
}
input:focus {
	 border: 2px solid papayawhip;
	 background-color:rgba(189, 102, 49, 0.80) ; 
	 color:darkorange;	 
}
input:valid {
	 border: 2px solid darkorange;
	 background-color:rgba(189, 102, 49, 0.80) ; 
	 color:papayawhip;
}
.toregistrieren {
  padding-top:1.8em;
  margin-right:15em;
}
.regButtonreg {
	margin-left:15em;
	border-color: papayawhip;
}
.readAGB {
	/*text-align:right;*/
}
.field-validation-error {
	color:darkorange;
	font-size:120%
}

						 /*TABLES*/
/*----------------------------------------------------------------------------*/ 
.Overviewtd{

	width:9em;
	height:2em;
	background-color:rgba(189, 102, 49, 0.20);
	font-size:120%;
	text-align:center;
	border-width:0 0 0.50em;
	background-color: #555; 	
}
.Overviewth {
  background-color: #555;  
  font-size:0.7em;
  font-family:Xena !important;
   border-color:rgba(255, 215, 0, 0.35)  ;
	border-width:1em;  
	border-style:ridge;
	border-width:0 0 0.50em;
	border-radius:0.8em 0.8em 0 0 ;

}
.Overviewtd:nth-child(2n+1) {
	background-color:rgba(255, 215, 0, 0.35);
	border-width:0 0 0.50em;
}
.Overviewtable {
	float: right;
	margin-right: 5em;
	margin-top: 6em;
	width: 83em;
	background-color: rgba(189, 102, 49, 0.80);
	background: linear-gradient(top,rgba(238, 102, 19, 0.79),rgba(189, 102, 49, 0.30));
	border-color: rgba(255, 215, 0, 0.35);
	border-width: 1em;
	border-style: ridge;
	border-width: 0 0 0.50em;
	border-radius: 1.0em;
	margin-bottom: 3em;
	-webkit-box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.71);
	-moz-box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.71);
	box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.71);
}

							  
							   /*DETAILS*/
/*----------------------------------------------------------------------------*/
.detailsRound {
	font-size:100%;
	margin:1em auto 0.5em;
	width:6em;
	height:6em;
	padding-top:2em;
	border-radius:3em;
	border:0.30em solid ;
	background-color:rgba(189, 102, 49, 0.80);
}
.detail {
	font-weight:500;
	width:20em;
	margin-left: 30em;
	margin-right: auto;
}
.detailpic {
	width:15em;
}
.detailpic:hover {
	animation-name: detailpic;
	animation-duration: 10s;
	-webkit-box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.80);
	-moz-box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.80);
	box-shadow: 13px -5px 9px 2px rgba(245,219,166,0.80);
}


							   /*CARD GRID CARDS*/
/*----------------------------------------------------------------------------*/
.cardcol{
	background-color:none;
	background:none;
	background-image:none;
	border:none;
	border-style:none;
	padding:0 0 0 0 ;
	margin:0 0 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none; 
}
.card {
	width: 13em;
	height: 26em;
	margin-top:1.4em;
   
	margin-right:1.3em ;
	padding:0.1em;
	background-color: rgba(189, 102, 49, 0.80);
	text-align:center;
	border-color:rgba(247, 179, 80, 0.64); 
	border-style:ridge;
	border-width:0 0 0.50em;
	border-radius:1.0em;
}
.cardpic {
	width:12em;
}
.card:nth-child(2n+1)
{
	background-color: #555;
}
.cardtitle {
	font-size:1.2em;
	height:1.8em;
}
.card-deck {
	
	max-height: 75em; 
	overflow:scroll; 
}
#pagingOverview {
	margin-bottom:5em;
	margin-top:5em;
}
.coinpic {
	margin-left:3em;
    margin-top:2em;
    width:10em
}


/*IMAGES*/
.picture {
   height:12em;
}

.DetailsPic {
	width:15em;
	margin-left:80%;
	margin-top:-2em;
	border-color:rgba(247, 179, 80, 0.64)  ;
	border-width:1em;  
	border-style:ridge;
	border-width:0 0 0.50em;
	border-radius:1.0em;
	-webkit-box-shadow: 5px -5px 5px 2px rgba(245,219,166,0.20);
	-moz-box-shadow: 5px -5px 5px 2px rgba(245,219,166,0.20);
	box-shadow: 5px -5px 5px 2px rgba(245,219,166,0.20);
	background-color: #555;
	   -moz-transform:rotate(3deg)translate(-1em );
	-webkit-transform:rotate(3deg)translate(-1em );
	-o-transform:rotate(3deg)translate(-1em );
	-ms-transform: rotate(3deg)translate(0,0em);
	transform:rotate(3deg)translate(-1em );
}
.DetailsPic:hover {
	transform-style:flat;
	transition-duration:3s;
	width:25em;
}

 /*PACKCARDS*/
/*----------------------------------------------------------------------------*/
.packdeck {
	/*overflow:hidden;*/
	overflow:visible
}
.packcard {
	height:35em;
	margin-left:3em;
	
}
.packcard:hover{
   -webkit-box-shadow: 5px 1px 5px 1px rgba(125,108,73,1);
	-moz-box-shadow: 5px 1px 5px 1px rgba(125,108,73,1);
	box-shadow: 5px 1px 5px 1px rgba(125,108,73,1);
}
.price {
	font-size:1.3em;
	width:6em;
	height:6em;
	line-height:4em;
	text-indent:0,20em;
	border-radius:5em;
	border:0.20em solid #fff;
	background-color:rgba(247, 179, 80, 0.64);
	-moz-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-ms-transform: rotate(20deg);
	transform:rotate(20deg);
  
}
.head {
	height:1.8em
}
.packname {
	font-size:1.4em;
	padding:0 0 0 0;
}


@keyframes detailpic {
	0% {
		width: 100%;
		border-width: 1em;
		margin-left: -0em;
	}

	10% {
		width: 110%;
		border-width: 1.2em;
		margin-left: -1em;
	}

	25% {
		width: 115%;
		border-width: 1.1em;
		margin-left: -2em;
	}

	50% {
		width: 130%;
		border-width: 1.1em;
		margin-left: -3em;
	}

	70% {
		width: 115%;
		border-width: 1.3em;
		margin-left: -4em;
	}

	80% {
		width: 110%;
		border-width: 1.1em;
		margin-left: -2em;
	}

	100% {
		width: 100%;
		border-width: 1em;
		margin-left: -1em;
	}
}



