@{
    ViewBag.Title = "_ChartOverview";
}


<div class="col-md-5">
    <br />
    <span id="chartspan">Top 5 Kunden/N</span>

    @Html.Partial("Chart/_ShowTopFiveBuyers")
</div>
<div class="col-md-5">
    <br />
    <span id="chartspan">Top 5 Kunden/E</span>

    @Html.Partial("Chart/_ShowTop5BuyersEmail")
</div>
<div class="col-md-5">
    <br />
    <span id="chartspan">Top 5 Packs</span>

    @Html.Partial("Chart/_ShowTop5Sellers")
</div>





