<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fehler</title>
</head>
<body>
    <hgroup>
        <h1>Fehler</h1>
        <h2>Uuuups ein Fehler ist passiert</h2>
    </hgroup>
</body>
</html>
