<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="old" connectionString="metadata=res://*/EDM.CardGame_v2.csdl|res://*/EDM.CardGame_v2.ssdl|res://*/EDM.CardGame_v2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MP_MAIN\SQLEXPRESS;initial catalog=CardGame_v2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CardGame_v2Entities" connectionString="metadata=res://*/EDM.EDM.csdl|res://*/EDM.EDM.ssdl|res://*/EDM.EDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mpsp3\sqlexpress;initial catalog=CardGame_v2;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>