@{
    ViewBag.Title = "_Money";
}

<div class="col col-md-12 currency">

    @{if (Session["CurrencyBalance"] != null)
            {
            <br />
            <h3>Dein Guthaben</h3>
            <br />
                var currency = this.Session["CurrencyBalance"];
            <h5 class="welcome">@currency</h5>
            <h5 class="Welcome">COINS</h5>

            <img class="image responsive coinpic" src="~/Content/images/Coins-PNG-Picture-180x180.png" />

            <a class="btn btn-default" href="@Url.Action("PackOverview", "CardPack")">Guthaben aufladen</a>
        }
        else
        {
            <br />
            <h3>Lade dein Guthaben auf</h3>
            <img class="image responsive coinpic" src="~/Content/images/Coins-PNG-Picture-180x180.png" />
            <h3>und hol dir Cardpacks!!</h3>
        }
    }


</div>
