<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorMessage</title>
</head>
<body>
    <hgroup style="margin-top:20em">
        <h2>Error.</h2>
        <h2 >Leider konnte Ihr Versuch nicht behandelt werden</h2>
    </hgroup>
    <p>@Html.ActionLink("Zurück zum Login", "Login", "Account")</p>
</body>
</html>
