@{
    ViewBag.Title = "_BannerAd";
}

<div class="banner">
    <div class="w3-content w3-section">
        <img class="mySlides w3-animate-fading" src="~/Content/images/Banner/banner1.jpg">
        <div class="mySlides w3-animate-fading bannertext"><br /><h3>Unsere neuesten Packs</h3></div>
        <img class="mySlides w3-animate-fading" src="~/Content/images/Banner/banner2.jpg">
        <div class="mySlides w3-animate-fading bannertext"><br /><h3>Unsere neuesten Aktionen</h3></div>
        <img class="mySlides w3-animate-fading" src="~/Content/images/Banner/banner3.jpg">
        <div class="mySlides w3-animate-fading bannertext"><br /><h3>Unsere neuesen Packs</h3></div>
        <img class="mySlides w3-animate-fading" src="~/Content/images/Banner/banner4.png">
    </div>
</div>


