@{
    ViewBag.Title = "_RightMiddle";
}


<div class="col col-md-12">
    <br />
    <h3>Stelle deine Decks zusammen</h3>
    <p>Durchsuche deine Kartensammlung und stelle deine, persönlichen Decks zusammen</p>
    @{ if (User.Identity.Name != "")

            {
            <a class="btn btn-default" href="@Url.Action("Deckoverview", "Profile")">Zu den Karten</a>
        }
    }
</div>